<div class="dialog-container">
<h2 class="dialog-title">Create new type of collection</h2>
<div class="dialog-content">
  <p class="text-center text-italic">(For admin only)</p>
  <div class="form-add-new">
  
    <div class="field-form">
      <h3 class="text-center">Name Type of Collection</h3>

      <mat-form-field>
        <mat-label>Please enter the name</mat-label>
        <input id="typeName" #typeName matInput [(ngModel)]="data.nameType">
      </mat-form-field>
    </div>

    <div class="media-form">
      <div class="media-form-containers">
        <span class="media-overlay" #mediaOverlay>
          <input type="file" id="media-input" #mediaInput accept="image/*">
		      <i class="fa fa-pencil media-icon"></i>
        </span>
        <div class="media-object">
          <img class="img-object" #imgObject src="https://cdn2.iconfinder.com/data/icons/admin-tools-2/25/image2-512.png">
        </div>
      </div>
      <div class="media-control">
        <button class="btn edit-profile" #editProfile>
          <i class="fa fa-edit"></i>Edit</button>
        <button class="btn save-profile" #saveProfile>
          <i class="fa fa-thumbs-up"></i>Save</button>
      </div>
    </div>
</div>
  </div>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onCreateNewType()">Ok</button>
</mat-dialog-actions>
</div>
