@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

.pinCode-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pinCode-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin: 1rem;
}
.pinCode-label{
    margin: 0 1rem;
}

.pinCode-btn{
    text-align: center;
    margin: 1rem;
}

.pinCode-btnOk{
  background-color: #6221b8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
