<div class="parent">
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' : '' " id="container">

    <div class="form-container sign-up" *ngIf="isSignDivVisiable">

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <h1>Create Account</h1>

        <span>or use your email for registeration</span>
        <input type="email" id="email" placeholder="Email" formControlName="email">

        <input type="text" id="username" placeholder="Username" formControlName="login">

        <input type="password" id="password" placeholder="Password" formControlName="password">

        <button style="background-color: #C33764;">Sign Up</button>

      </form>

    </div>

    <div class="form-container sign-in" *ngIf="!isSignDivVisiable">

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <h1>Sign In</h1>

        <span>or use your email password</span>

        <input type="text" formControlName="login"  placeholder="Username">

        <input type="password" formControlName="password" placeholder="Password">

        <a class="forgetPW" (click)="openForgetPWdialog()">Forget Your Password?</a>

        <button>Sign In</button>

      </form>

    </div>

    <div class="toggle-container">

      <div class="toggle">

        <div class="toggle-panel toggle-left">

          <h1>Welcome Back!</h1>

          <p>To keep connected with us, please login with your personal infor</p>

          <button class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>

        </div>

        <div class="toggle-panel toggle-right">

          <h1>Hello, Friend!</h1>

          <p>Enter your personal details and start journey with us</p>

          <button class="hidden" id="register" (click)="isSignDivVisiable = true">Sign Up</button>

        </div>

      </div>

    </div>

  </div>

</div>
